[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Netbook Compton autostart
Comment=
Exec=manjaro-netbook-compton-autostart
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
