[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Netbook Update Helper
Comment=
Exec=manjaro-netbook-update-helper
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
