[Desktop Entry]
Name=Desktop Background
Comment=Change the desktop background image
Exec=nitrogen
Icon=user-desktop
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
OnlyShowIn=XFCE;
