[Desktop Entry]
Name=Sterminal
Name[af]=Sterminal
Name[ar]=Sterminal
Name[be]=Sterminal
Name[bg]=Sterminal
Name[bn]=Sটার্মিনাল
Name[bn_IN]=Sterminal
Name[ca]=Sterminal
Name[cs]=Sterminal
Name[da]=Sterminal
Name[de]=Sterminal
Name[el]=Sterminal
Name[en_GB]=Sterminal
Name[eo]=Sterminalo
Name[es]=Sterminal
Name[et]=Sterminal
Name[eu]=Sterminala
Name[fa]=پایانه ی LX
Name[fi]=Sterminal
Name[fo]=Sterminal
Name[fr]=Sterminal
Name[frp]=Sterminal
Name[gl]=Sterminal
Name[he]=תכנית המסוף Sterminal
Name[hr]=Sterminal
Name[hu]=Sterminal
Name[id]=Sterminal
Name[is]=Sterminal
Name[it]=Sterminal
Name[ja]=Sterminal
Name[kk]=Sterminal
Name[ko]=Sterminal
Name[lg]=Sterminal
Name[lt]=Sterminal
Name[ms]=Sterminal
Name[nb]=Sterminal
Name[nl]=Sterminal
Name[nn]=Sterminal
Name[pl]=Sterminal
Name[pt]=Sterminal
Name[pt_BR]=Sterminal
Name[ro]=Sterminal
Name[ru]=Sterminal
Name[sk]=Sterminal
Name[sl]=Sterminal
Name[sr]=С-терминал
Name[sr@latin]=Sterminal
Name[sv]=Sterminal
Name[te]=LXటెర్మినల్
Name[tr]=Sterminal
Name[tt_RU]=Sterminal
Name[ug]=Sterminal
Name[uk]=LX-термінал
Name[ur]=ایل ایکس ٹرمنل
Name[ur_PK]=ایل ایکس ٹرمنل
Name[vi]=Sterminal
Name[zh_CN]=LX 终端
Name[zh_TW]=LX 終端機
GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=شاشة طرفية
GenericName[be]=Тэрмінал
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[ca]=Terminal
GenericName[cs]=Terminál
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääte
GenericName[fo]=Útstøð
GenericName[fr]=Terminal
GenericName[gl]=Terminal
GenericName[he]=מסוף
GenericName[hr]=Terminal
GenericName[hu]=Terminál
GenericName[id]=Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Terminale
GenericName[ja]=端末
GenericName[kk]=Терминал
GenericName[ko]=터미널
GenericName[lg]=Kiwandikiro
GenericName[lt]=Terminalas
GenericName[ml]=ടെ‍ര്മിനല്
GenericName[ms]=Terminal
GenericName[nb]=Terminal
GenericName[nl]=Terminalvenster
GenericName[nn]=Terminal
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[te]=టెర్మినల్
GenericName[tr]=Uçbirim
GenericName[tt_RU]=Терминал
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[vi]=Cửa sổ lệnh
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機
Comment=Use the command line
Comment[af]=Gebruik die opdraglyn
Comment[ar]=استخدِم سطر الأوامر
Comment[be]=Эмулятар тэрмінала
Comment[bg]=Използване на команден ред
Comment[bn]=কমান্ড লাইন ব্যবহার করা হবে
Comment[ca]=Utilitza la línia d'ordres
Comment[cs]=Používat příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[en_GB]=Use the command line
Comment[es]=Utilice la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Erabili komando-lerroa
Comment[fa]=استفاده از خط فرمان
Comment[fi]=Käytä komentoriviä
Comment[fo]=Nýt stýriboðslinjuna
Comment[fr]=Utiliser la ligne de commande
Comment[gl]=Usar a liña de ordes
Comment[he]=שימוש בשורת הפקודה
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[kk]=Командалық жолды қолдану
Comment[ko]=명령 행을 사용합니다
Comment[lg]=Kolera mu kiwandikiro
Comment[lt]=Naudoti komandų eilutę
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Utilizează linia de comandă
Comment[ru]=Использовать командную строку
Comment[sk]=Použiť príkazový riadok
Comment[sl]=Uporabi ukazno vrstico
Comment[sr]=Употребљавајте линију наредби
Comment[sr@latin]=Koristite liniju naredbi
Comment[sv]=Använd kommandoraden
Comment[te]=కమాండు లైనును వాడు
Comment[tr]=Komut satırını kullan
Comment[tt_RU]=Команда юлын куллану
Comment[ug]=بۇيرۇق قۇرىنى ئىشلەت
Comment[uk]=Використати командну стрічку
Comment[vi]=Dùng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
TryExec=sterminal
Exec=sterminal
Icon=utilities-terminal
Type=Application
Categories=System;TerminalEmulator;
Keywords=console;command line;execute;
Keywords[ca]=consola; línia d'ordres; executa
Keywords[cs]=konzole;příkazový řádek;spuštění;
Keywords[de]=Konsole;Befehlszeile;Ausführen;
Keywords[el]=κονσόλα;γραμμή εντολών;εκτέλεση;
Keywords[es]=consola;línea de órdenes;ejecutar;
Keywords[eu]=kontsola;komando-lerroa;exekutatu;
Keywords[fi]=konsoli;pääte;terminaali;komentorivi;komentotulkki;suorita;aja;console;command line;execute;
Keywords[gl]=consola;liña de ordes;executar;
Keywords[hr]=konzola;naredbeni redak;izvrši;
Keywords[hu]=konzol;parancssor;végrehajtás;
Keywords[ja]=コンソール;コマンドライン;実行;
Keywords[kk]=консоль;командалық жол;жөнелту;орындау;console;terminal;
Keywords[ko]=console;콘솔;command line;명령줄;execute;실행;
Keywords[lg]=kiwandikiro;kiragiro;tandika mulimu;
Keywords[nl]=terminal;opdrachtregel;uitvoeren;
Keywords[pl]=konsola;wiersz poleceń;wykonaj;
Keywords[pt]=consola;linha de comandos;executar
Keywords[pt_BR]=console;linha de comando;executar;
Keywords[ru]=консоль;командная строка;выполнить;запустить;
Keywords[sr]=конзола;командна линија;извршно;
Keywords[sv]=console;command line;execute;
Keywords[te]=కన్సోల్;ఆదేశ పంక్తి;అమలుచేయి;
Keywords[tr]=konsol;komut satırı;çalıştır;
Keywords[uk]=консоль;командна стрічка;виконати;
Keywords[zh_CN]=console;command line;execute;终端;命令行;执行;
Keywords[zh_TW]=console;command line;execute;終端機;終端;文字介面;執行;小黑窗;命令列
